/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
	display: block;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
}

ul,
ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img,
svg {
	max-width: 100%;
	height: auto;
}

img {
	display: block;
}

address {
	font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
	user-select: auto;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

textarea {
	resize: none;
}

input::-ms-clear {
	display: none;
}

button,
input[type='submit'] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

input:focus,
input:active,
textarea:focus,
textarea:active,
button:focus,
button:active {
	outline: none;
}

button,
a,
input[type='button'],
input[type='submit'],
.tap-target {
	touch-action: manipulation;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
}

video {
	display: block;
	border: none;
}

video::-webkit-media-controls {
	display: none !important;
}

video::-webkit-media-controls-overlay-enclosure {
	display: none !important;
}

input,
button,
textarea,
select {
	font: inherit;
}

a {
	display: inline-block;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body::-webkit-scrollbar,
.message__text::-webkit-scrollbar,
.message__inner::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

body::-webkit-scrollbar-thumb,
.message__text::-webkit-scrollbar-thumb,
.message__inner::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #000;
}

html {
	@media screen and (max-width: 768px) {
		font-size: 14px;
	}
	@media screen and (max-width: 480px) {
		font-size: 12px;
	}
}

body {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	min-height: 100dvh;
	color: #000;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	background-color: #fff;
}
.error-container {
	padding: 20px;
	border: 1px solid #f5c6cb;
	border-radius: 8px;
	background-color: #f8d7da;
}
.error-title {
	font-size: 36px;
	font-weight: bold;
}
.error-message {
	font-size: 18px;
}

body {
	background-color: #ffffff;
}

main {
	flex: 1 1 auto;
	margin-left: 20px;
	margin-right: 20px;
}

.scroll::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background-color: #ffffff;
}

.scroll::-webkit-scrollbar-thumb {
	cursor: pointer;
	border-radius: 10px;
	background-color: #000;
}

.style {
	border-radius: 20px;
	border: 2px solid #000;
	padding: 16px;
}

.title {
	text-align: center;
	font-size: 24px;
	font-weight: 600;
}
.subtitle {
	text-align: center;
	font-size: 20px;
	font-weight: 600;
}

.mt20 {
	margin-top: 20px;
}

.mb20 {
	margin-bottom: 20px;
}

.login-form {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.button,
.link {
	width: 100%;
	text-align: center;
	transition: 0.3s ease-out;
	background-color: #000;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-size: 16px;
	&:hover {
		color: #000;
		background-color: #fff;
		box-shadow: inset 0px 0px 0px 1.5px #000;
	}
}

.button__fixed {
	width: 100px;
	position: fixed;
	top: 20px;
	left: 20px;
}

.button__fixed_right {
	width: 100px;
	position: fixed;
	right: 20px;
	top: 20px;
	left: unset;
}

.button__fixed_colhoz {
	width: 100px;
	position: fixed;
	right: 20px;
	top: 100px;
	left: 20px;
}

.input {
	width: 100%;
	padding: 10px;
	font-size: 14px;
	border: 1.5px solid #000;
	border-radius: 8px;
	box-sizing: border-box;
}

.auth {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.auth__message {
	width: 100%;
	padding: 8px 12px;
	border-radius: 8px;
	border: 1.5px solid #000;
}

.auth__inputs {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.auth__subtitle {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 4px;
}

.auth__buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.auth__radio {
	display: flex;
	gap: 20px;

	div {
		display: flex;
		gap: 4px;
		align-items: center;
	}

	input {
		width: 20px;
	}
}

.error-message {
	width: 100%;
	padding: 8px 12px;
	border-radius: 8px;
	border: 1.5px solid #000;
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1000;
	background-color: #fff;
}

.form {
	margin: 0 auto;
	margin-bottom: 40px;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: center;
	justify-content: center;
}

.form__title {
	margin-bottom: 12px;
}

table {
	text-align: center;
	vertical-align: middle;
	margin: 0 auto;
	max-width: 80vw;
	border: 2px solid #000;
	padding: 4px;
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 40px;
}

th,
td {
	padding: 8px;
	border-bottom: 2px solid #000;
}

th {
	background-color: #04aa6d;
	color: white;
}

th a {
	color: white;
}

tr:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.column-id {
	width: 10%;
}
.column-name {
	width: 30%;
}
.column-user-type {
	width: 30%;
}
.column-manufacturer {
	width: 30%;
}
.column-supplier {
	width: 30%;
}
.column-status {
	width: 30%;
}
.column-manufacturer-id {
	width: 10%;
}
.column-price {
	width: 10%;
	text-align: center;
}
.column-quantity {
	width: 10%;
	text-align: center;
}
.colunt-cost {
	width: 10%;
	text-align: center;
}
.column-provider-id {
	width: 10%;
}
.column-actions {
	width: 20%;
}
.column-action-descr {
	width: 80%;
}
.column-action-dt {
	width: 20%;
}
.column-action-login {
	width: 15%;
}

.message {
	text-align: justify;
	max-width: 300px;
	max-height: 300px;
	position: fixed;
	top: 20px;
	left: 65%;
	z-index: 999;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	border-radius: 20px;
	gap: 12px;
	border: 2px solid #000;
	background-color: #fff;

	p {
		align-self: flex-start;
		text-align: left;
		font-size: 20px;
		font-weight: 600;
	}

	span {
		font-size: 20px;
		font-weight: 400;
	}
}

.message__buttons {
	display: flex;
	gap: 8px;
	width: 100%;
}

.message__button {
	width: 100%;
}

.message__button__close{
	width: 100%;
}

.message__item {
	padding-right: 8px;
	display: flex;
	gap: 6px;
	flex-direction: column;
	align-items: center;
}

.message__inner {
	display: flex;
	flex-direction: column;
	gap: 16px;
	overflow-y: auto;
}

.message__text {
	overflow-y: auto;
}

.message_open {
	display: flex;
}

.form__button {
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	text-align: text;
}

.form__checkbox {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.table_cart {
	position: relative;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	display: none;
	justify-content: center;
	align-items: center;
}

.popup__button {
	max-width: 120px;
}

.popup__content {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	padding: 24px;
	background-color: #fff;
	border-radius: 20px;
	border: 2px solid #000;
}

.popup_open {
	display: flex;
}


.button-container {
    display: flex; 
    gap: 10px;
}

.notification-left {
    position: fixed;
    top: 20px; 
    left: 60%; 
    z-index: 998; 
    max-width: 200px; 
    padding: 15px; 
    border-radius: 10px;
    border: 2px solid #000; 
    background-color: #f0f0f0; 
    display: none; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.notification-left p {
    text-align: left; /* Выравнивание текста */
    font-size: 18px; /* Размер шрифта */
    font-weight: 600; /* Жирный текст */
}

.notification-left span {
    font-size: 16px; /* Размер шрифта для спанов */
    font-weight: 400; /* Обычный текст */
}

.filter-container {
	margin: 0 auto;
	width: 80vw;
	/* left: 20px;
	right: 20px; */
    display: flex;
    gap: 10px; 
    margin-bottom: 20px; 
}

.filter-container input {
    padding: 8px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    flex: 1;
}

.filter-container button {
    padding: 8px 16px; 
    background-color: #000; 
    color: #fff; 
    border: none;
    border-radius: 4px; 
    cursor: pointer;
}

.filter-container button:hover {
    background-color: #fff; 
    color: #000;
}